{
  "cli": {
    "appVersionSource": "remote",
    "requireCommit": true
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "channel": "development",
      "env": {
        "APP_VARIANT": "development"
      }
    },
    "preview": {
      "distribution": "store",
      "channel": "preview",
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "https://{{ project_name }}-api-prod.onrender.com"
      }
    },
    "production": {
      "channel": "production",
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "https://{{ project_name }}-api-prod.onrender.com"
      }
    }
  },
  "submit": {
    "preview": {
      "ios": {},
      "android": {
        "serviceAccountKeyPath": "./google-play-service-account.json",
        "track": "internal"
      }
    },
    "production": {
      "ios": {},
      "android": {
        "serviceAccountKeyPath": "./google-play-service-account.json",
        "track": "production"
      }
    }
  }
}
